.container {
    width: 300px;
    margin: 30px;
    border: 1px solid gray;
    border-radius: 5px;    
}
.btn {
    display: block;
    border-style: none;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #FFF;
    margin: 20px auto; 
    padding: 0.5em;
}
.btn:hover {
    cursor: pointer;
}
.output-header {    
    margin: 40px auto 10px;
    text-align: center;
}
.output {
    width: 150px;
    min-height: 20px;
    max-height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 20px;
    padding: 0.5em;
    overflow: auto;
    
}